{% extends 'store/base.html' %}

{% load crispy_forms_field %}

{% block main %}
    <div class="account-conatiner">
        <div class="account-username">
            Welcome {{user.username}}
        </div>
        <img class="account-picture" src="{{user.userimage.profile_pic.url}}">
        <div class="account-email">
            {{user.email}}
        </div>
        <form action="{% url 'account' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="account-form">
                <div class="account-form-control">
                    <label class="account-form-label" for="username">Update Username</label>
                    {% crispy_field form.username 'class' 'account-form-input' 'placeholder' 'Username' %}
                </div>
                {% for error in form.errors.username %}
                    <div class="account-error">{{error}}</div>
                {% endfor %}
                
                <div class="account-form-control">
                    <label class="account-form-label" for="email">Update Email ID</label>
                    {% crispy_field form.email 'class' 'account-form-input' 'placeholder' 'Email ID' %}
                </div>
                {% for error in form.errors.email %}
                    <div class="account-error">{{error}}</div>
                {% endfor %}

                <div class="account-form-control">
                    <label class="account-form-label" for="password">Update Password</label>
                    {% crispy_field form.password 'class' 'account-form-input' 'placeholder' 'Password' %}
                </div>
                {% for error in form.errors.password %}
                    <div class="account-error">{{error}}</div>
                {% endfor %}

                <div class="account-form-control">
                    <label class="account-form-label" for="checkpwd"></label>
                    {% crispy_field form.checkpwd 'class' 'account-form-input' 'placeholder' 'Re-enter Password' %}
                </div>
                {% for error in form.errors.checkpwd %}
                    <div class="account-error">{{error}}</div>
                {% endfor %}

                <div class="account-form-control">
                    <label class="account-form-label" for="profile_pic">Update Profile Picture</label>
                    {% crispy_field form.profile_pic 'class' 'account-profile-pic' %}
                </div>
                <button type="submit" class="account-update-button">Update</button>
            </div>
        </form>
        <form action="">
            <div class="account-delete">
                <label class="account-form-label" for="account-delete-button">Delete Account</label>
                <button type="submit" class="account-delete-button">Delete</button>
            </div>
        </form>
    </div>    
{% endblock main %}
