{% extends 'store/base.html' %}

{% block main %}
    <div class="cart-container">
        
        {% if items %}
        <div class="cart">
            <div class="cart-title">
                Cart Items
            </div>
            <div class="cart-option-container">
                <div class="cart-total-display">
                    <div class="cart-item-count">
                        Total items: 
                        <span>{{cartItems}}</span>
                    </div>
                    <div class="cart-amount">
                        Total amount: &#36;
                        <span>{{order.get_cart_total}}</span>
                    </div>
                </div>
                <div class="cart-button">
                    <a href="{% url 'checkout' %}">Checkout</a>
                </div>
            </div>
            
            {% for item in items %}
            <div class="individual-cart-item">
                <div class="cart-item-image" style="background-image: url({{item.product.product_pic.url}});"></div>
                <span>{{item.product.name}}</span>
                <span>&#36;{{item.get_total}}</span>
                <div class="cart-item-quantity">
                    <span id="item-quantity">{{item.quantity}}</span>
                    <a href="{% url 'updatecart' item.product.id 'add' %}"><i class="fas fa-plus"></i></a>
                    <a href="{% url 'updatecart' item.product.id 'remove' %}"><i class="fas fa-minus"></i></a>
                </div>
                <a href="{% url 'deleteitem' item.id %}"><i class="fas fa-trash"></i></a>
            </div>
            {% endfor %}
                
        </div>
        {% else %}
        <div class="no-cart-data">
            No items in the cart yet.
            <a href="{% url 'store' %}">Start shopping</a>
        </div>
        {% endif %}
            
    </div>
{% endblock main %}
