{% extends 'store/base.html' %}

{% load crispy_forms_field %}

{% block main %}
    <form class="checkout-container" action="" method="POST">
        <div class="address-form-container">
            <div class="checkout-title">Shipping Address</div>
                {% csrf_token %}
                {% crispy_field form.firstName 'class' 'checkout-name' 'placeholder' 'First Name' %}
                {% crispy_field form.lastName 'class' 'checkout-name' 'placeholder' 'Last Name' %}
                {% crispy_field form.addressLine1 'class' 'checkout-address-line' 'placeholder' 'Address Line 1' %}
                {% crispy_field form.addressLine2 'class' 'checkout-address-line' 'placeholder' 'Address Line 2' %}
                {% crispy_field form.city 'class' 'checkout-misc' 'placeholder' 'City' %}
                {% crispy_field form.state 'class' 'checkout-misc' 'placeholder' 'State' %}
                {% crispy_field form.zipcode 'class' 'checkout-misc' 'placeholder' 'Zipcode' %}
                {% crispy_field form.phone 'class' 'checkout-misc' 'placeholder' 'Phone Number' %}
        </div>
        <div class="order-summary-container">
            <div class="checkout-title">
                Order Summary
            </div>
            
            {% for item in items %}
            <div class="order-summary-item">
                <div class="summary-item-photo" style="background-image: url({{item.product.product_pic.url}});"></div>
                <div class="summary-item-details">
                    <div class="summary-item-quantity">{{item.quantity}}</div>
                    <div>&#8377;{{item.get_total}}</div>
                </div>
            </div>
            {% endfor %}
                
            <div class="order-summary-total">Total: &#8377;{{order.get_cart_total}}</div>
            <button type="submit" class="checkout-button">Proceed for Payment</button>
        </div>
    </form>
{% endblock main %}
