{% extends 'store/base.html' %}

{% block main %}
    <div class="orders-container">
        <div class="orders-title">
            My Orders
        </div>
        <div class="individual-order-container">
            <div class="order-details">
                <span id="order-date">Order Number: 1</span>
                <span id="order-date">Order Date: Jun 20, 2020</span>
                <span id="order-status">Status: Delivered</span>
            </div>
            <div class="order-item">
                <div class="order-item-image" style="background-image: url(https://images.unsplash.com/photo-1556048219-bb6978360b84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);"></div>
                <span id="order-item-quantity">1</span>
                <span id="order-item-price">&#8377;2500</span>
            </div>
            <div class="order-item">
                <div class="order-item-image" style="background-image: url(https://images.unsplash.com/photo-1556048219-bb6978360b84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);"></div>
                <span id="order-item-quantity">1</span>
                <span id="order-item-price">&#8377;2500</span>
            </div>
        </div>
        <div class="individual-order-container">
            <div class="order-details">
                <span id="order-date">Order Number: 2</span>
                <span id="order-date">Order Date: Jun 21, 2020</span>
                <span id="order-status">Status: Pending</span>
            </div>
            <div class="order-item">
                <div class="order-item-image" style="background-image: url(https://images.unsplash.com/photo-1556048219-bb6978360b84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);"></div>
                <span id="order-item-quantity">1</span>
                <span id="order-item-price">&#8377;2500</span>
            </div>
            <div class="order-item">
                <div class="order-item-image" style="background-image: url(https://images.unsplash.com/photo-1556048219-bb6978360b84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);"></div>
                <span id="order-item-quantity">1</span>
                <span id="order-item-price">&#8377;2500</span>
            </div>
        </div>
    </div>    
{% endblock main %}
