{% extends 'store/base.html' %}

{% block main %}
    <div class="orders-container">
        
        {% if orders %}
        <div class="orders-title">
            Previous Orders
        </div>
        
        {% for order in orders %}
        <div class="individual-order-container">
            <div class="order-details">
                <span>Order Number: {{order.id}}</span>
                <span>Order Date: {{order.dateAdded}}</span>
            </div>
            
            {% for item in order.get_items %}
            <div class="order-item">
                <div class="order-item-image" style="background-image: url({{item.product.product_pic.url}});"></div>
                <span>{{item.quantity}}</span>
                <span>&#8377;{{item.get_total}}</span>
            </div>
            {% endfor %}

        </div>
        {% endfor %}

        {% else %}
        <div class="no-orders-message">
            There are no previous/completed orders for this account.
            <a href="{% url 'store' %}">Start shopping</a>
        </div>
        {% endif %}
            
    </div>    
{% endblock main %}
