{% extends 'store/base.html' %}


{% block main %}
    <div class="resetconfirm-container">
        <h3>Enter new password</h3>
        <div>
            Please enter your new password twice so we can verify you typed it in correctly.
        </div>
        <form class="resetconfirm-form" method="POST">
            {% csrf_token %}
            <div class="resetconfirm-form">
                <label for="id_new_password1">New password:</label>
                <input class="resetconfirm-input1" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
            </div>
            <div class="resetconfirm-form">
                <label for="id_new_password2">Confirm password:</label>
                <input class="resetconfirm-input2" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
            </div>
            <button type="submit" class="resetconfirm-button">Change my password</button>
        </form>
    </div>
{% endblock main %}
    