{% extends 'store/base.html' %}

{% block main %}
{% for product in products %}
<div class="item">
    <a href="{% url 'product' product.name %}">
        <div class="item-image" style="background-image: url({{product.product_pic.url}});"></div>
    </a>
    <div class="item-name">
        {{product.name}}
    </div>
    <div class="item-option">
        <div class="item-price">
            Price: &#36;{{product.price}}
        </div>
        <button class="item-button">
            <a href="{% url 'updatecart' product.id 'add' %}">Add to Cart</a>
        </button>
    </div>
</div>
{% endfor %}
{% endblock main %}
